{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body"><a href="map">Simple map component</a></p>
    <p class="govuk-body"><a href="fullscreen">Integrated example</a></p>
    <p class="govuk-body"><a href="maps">Multiple map examples</a></p>

  </div>
</div>

{% endblock %}
