{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block bodyStart %}
<!--   from the page   -->
{{ super() }} {# Keep parent's head content #}
<meta property="og:image" content="/public/images/govuk-opengraph-image.png" />
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body"><a href="map">Simple map component</a></p>
    <p class="govuk-body"><a href="maps">Multiple map examples</a></p>
    <p class="govuk-body"><a href="title-search">Title search </a></p>
    <p class="govuk-body"><a href="draw">Drawing</a></p>

  </div>
</div>

{% endblock %}
