{% extends "layouts/main.html" %}

{% from "hmlrMap.njk" import hmlrMap %}

{% block bodyStart %}
<!--   from the page   -->
{{ super() }} {# Keep parent's head content #}
<meta property="og:image" content="https://prototype-kit-plugin.onrender.com/public/images/govuk-opengraph-image.png" />
{% endblock %}


{% block pageTitle %}
Map Component – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}


<style>
.hmlr-map{
  position: relative;
  width: 100%;
}
.map-controls{
  font-size: xx-small;
  position: absolute;
  top: 250px;
  left: 88px;
  z-index: 10;
  width: 320px;
  height:100%;
  background-color: #fff;
}
</style>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Map Component Test</h1>

    <!-- <p class="govuk-body" id="map_notes">Click the map to see information about a title<br/>&nbsp;</p> -->
            
    {{ hmlrMap({
      alt: "Rights covering whole and part title",
      caption: "Rights covering whole and part title",
      layer_controls: "false",
      layers:[
        
        {
          path_to_geometry: "/public/data/liskeard_cc_part.geojson",
          description:"Part of title",
          interactive: "false",
          style:" DASH"
        },
        {
          path_to_geometry: "/public/data/liskeard_cc_whole.geojson",
          description:"Whole title",
          interactive: "false",
          style: {
            fill: {
              color: "#00307866"
            },
            stroke: {
              color: "#003078",
              width: 0.5
            }
          }
        },
        {
          path_to_geometry: "/public/data/liskeard_cc_part.geojson",
          description:"Whole title (duplicated to set the extent)",
          interactive: "false",
          style: 'hidden'
        }
      ],
      tile_url: 'https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
    }) }}

    


  </div>
</div>


{% endblock %}