{% extends "layouts/main.html" %}

{% from "hmlrSimpleMap.njk" import hmlrSimpleMap %}

{% block pageTitle %}
Map Component – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}




{% block beforeContent %}
<style>
  figure {
    margin: 0px;
  }
</style>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Map Component Test</h1>


    {{ hmlrSimpleMap({
      alt: "Map of Plymouth",
      caption: "Example 1 map component default view"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ hmlrSimpleMap({
      alt: "Map of Cornwall, showing a field north of Liskeard",
      caption: "Example 2, custom size, custom coordinates and zoom",
      coords: "225000, 65000",
      zoom: 15,
      height: "400px",
      width: "620px"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ hmlrSimpleMap({
      alt: "Map of Cornwall, showing a field north of Liskeard",
      caption: "Example 3, loading external geojson",
      path_to_geometry: "/public/boundary.json"
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ hmlrSimpleMap({
      alt: "Map of Cornwall, showing a field north of Liskeard",
      caption: "Example 4, loading external geojson with custom styling, custom view (centre and zoom)",
      path_to_geometry: "/public/boundary.json",
      coords: "225000, 65000",
      zoom: 15,
      style: {
        fill: {
          color: "#d4351c33"
        },
        stroke: {
          color: "#d4351c",
          width: 2,
          lineDash: [4, 4]
        }
      }
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">





    {{ hmlrSimpleMap({
      alt: "Demo geojson from INSPIRE",
      caption: "Example 5 Overlapping boundary: Note RGBA format of fill 00703c99, 00703c + 99 alpha (99/FF % transparency)",

      path_to_geometry: "/public/demo.json",
      style: {
        fill: {
          color: "#00703c33"
        },
        stroke: {
          color: "#00703c",
          width: 1,
          lineDash: [10, 4]
        }
      }
    }) }}

    {{ hmlrSimpleMap({
      alt: "Demo geojson from INSPIRE",
      caption: "Example 5 Overlapping boundary: Note RGBA format of fill 00703c99, 00703c + 99 alpha (99/FF % transparency)",

      path_to_geometry: "/public/overlap_boundary.geojson",

      height: "800px",
      style: {
        fill: {
          color: "#d4351c22"
        },
        stroke: {
          color: "#d4351c",
          width: 3,
          lineDash: [4, 4]
        }
      }
    }) }}





    







  </div>
</div>
{% endblock %}