{% extends "layouts/main.html" %}

{% from "../../node_modules/hmlr-custom-button/macros/macro.njk" import customButton %}
{% from "../../node_modules/hmlr-static-map-image/macros/macro.njk" import staticMap %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}




{% block beforeContent %}
<style>
  figure {
    margin: 0px;
  }
</style>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Component Tests</h1>

    <p class="govuk-body">  </p>

    {{ staticMap({
    src: "/public/images/example1.png",
    alt: "Map of the UK showing example locations",
    caption: "Example 1 map component",
    coords: "225000, 65000"
    }) }}


    {{ staticMap({
    src: "/public/images/example2.png",
    alt: "Map of the UK showing example locations",
    caption: "Example 2 map component",
    coords: "226800, 61600"
    }) }}


    <hr />
    <h2 class="govuk-heading-m">Button Component</h2>
    <!-- Basic button -->
    {{ customButton({
    text: "Default button"
    }) }}

    <!-- Secondary button -->
    {{ customButton({
    text: "Secondary button",
    variant: "secondary"
    }) }}

    <!-- Warning button -->
    {{ customButton({
    text: "Warning button",
    variant: "warning"
    }) }}

    <!-- Disabled button -->
    {{ customButton({
    text: "Disabled button",
    disabled: true
    }) }}

    <!-- Button with custom attributes -->
    {{ customButton({
    text: "Custom button",
    id: "my-custom-button",
    classes: "my-extra-class",
    attributes: {
    "data-module": "custom-module",
    "aria-label": "Custom aria label"
    }
    }) }}

    <hr />


  </div>
</div>
{% endblock %}